@import url(vars.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.banner {
  position: relative;
  height: 700px;

}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

