@import url(vars.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.banner {
  width: 100%;
  height: 100%;
  background-color: #2C0000;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Section 1 */
@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 40vh;
    }
}

