@import url(vars.css);

.section-2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #300000, #000);
    display: flex;
    justify-content: center;
}   

#elenco {
    margin: 30px;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 55px;
    background: rgba(27, 25, 25, 0.356);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

 .elenco li {
    list-style: none;
    font-family: var(--default-font);
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    margin: 4px;
    letter-spacing: 2px;
}


.cards {
  display: flex;
  gap: 30px;
}

.card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  height: 400px;
  transition: 0.3s;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px red;
}

.destaque {
  border: 2px solid red;
}

.seta {
  background: none;
  border: 2px solid red;
  color: red;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.seta:hover {
  background: red;
  color: white;
}
